ul a:hover{
    background-color: #252e45!important;
    color: white!important;

}

ul .active, .active:hover{
    background-color: #252e45!important;
    color: #f60!important;
    font-weight: 700!important;
}
